@import "unit";
@import "../../public/fonts/font.css";

:root {
  --primary-color: #51267d;
  --secondary-color: #fdc100;
  --text-color: #696969;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat;
}

button {
  transition: 0.2s;
  font-family: Montserrat;
  &:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }
}
